* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding-top: 20px;
    background: #163A24;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    /* margin-left: auto; */
}

.navbar_item:last-child {
    background: #198C36;
    border-radius: 160px;
    padding: 15px 25px;
}

.navbar_link {
    text-decoration: none;
    margin-right: 24px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #FBFAF7;
}

/* -----2-qism-------- */

.section-1 {
    background: #163A24;
    /* border-top: 0.5px solid transparent; */
    /* margin-bottom: 120px; */
}

.section-1_box {
    display: flex;
}

.section-1_box::after {
    content: "";
    width: 730px;
    height: 580px;
    display: inline-block;

    background-image: url('../images/researchers.svg');
    background-repeat: no-repeat;
    background-size: 685px 580px;
    vertical-align: baseline;
    margin-left: 22px;
}

.section-1_box-mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-1_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: #FBFAF7;
    width: 391px;
}

.section-1_text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FBFAF7;
    width: 475px;
}

/* ---------3-qism----------- */

.section-2 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-2_box-first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2_box-first::before {
    content: "";
    width: 492px;
    height: 510px;
    display: inline-block;

    background-image: url('../images/Girl.svg');
    background-repeat: no-repeat;
    background-size: 492px 510px;
}

.section-2_box-second {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
}

.section-2_box-second::after {
    content: "";
    width: 492px;
    height: 423px;
    display: inline-block;

    background-image: url('../images/boy.svg');
    background-repeat: no-repeat;
    background-size: 492px 423px;
}

.section-2_box-mini-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.section-2_box-mini-second {
    margin-right: 112px;
}

.section-2_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    margin-bottom: 27px;
}

.first {
    width: 325px;
}

.second {
    width: 376px;
}

.section-2_text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;

}

.first-text {
    width: 374px;
}

.second-text {
    width: 380px;
}

.section-2_box-third {
    margin-top: 119px;
}

.third_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
    margin-bottom: 60px;
}

.section-2_menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2_item {
    margin-right: 87px;
}

.section-2_item:last-child {
    margin-right: 0;
}

/* ----------4-qism---------- */

.section-3 {
    background: #163A24;
    padding-top: 66px;
    padding-bottom: 120px;
}

.section-3_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #FBFAF7;
    margin-bottom: 67px;
}

.section-3_menu {
    display: flex;
    justify-content: center;
}

.section-3_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 98px;
}

.first_item::before {
    content: "";
    width: 117px;
    height: 145px;
    display: inline-block;

    background-image: url('../images/message.svg');
    background-repeat: no-repeat;
    background-size: 117px 145px;
    margin-bottom: 28px;
}

.second_item::before {
    content: "";
    width: 79px;
    height: 160px;
    display: inline-block;

    background-image: url('../images/shield.svg');
    background-repeat: no-repeat;
    background-size: 79px 160px;
    margin-bottom: 28px;
}

.third_item::before {
    content: "";
    width: 66px;
    height: 145px;
    display: inline-block;

    background-image: url('../images/shelf.svg');
    background-repeat: no-repeat;
    background-size: 66px 145px;
    margin-bottom: 28px;
}

.fourth_item::before {
    content: "";
    width: 95px;
    height: 150px;
    display: inline-block;

    background-image: url('../images/doll.svg');
    background-repeat: no-repeat;
    background-size: 95px 150px;
    margin-bottom: 28px;
}

.section-3_span {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FBFAF7;
}

/* ----------5-qism----------- */

.section-4 {
    padding-top: 114px;
    padding-bottom: 120px;
    background: #F2EFE6;
}

.section-4_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-4_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    width: 739px;
    margin-bottom: 27px;
    text-align: center;
}

.section-4_text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
    width: 760px;
    text-align: center;
}

.section-4_box::after {
    content: "";
    width: 1210px;
    height: 335px;
    display: inline-block;

    background-image: url('../images/jobs.svg');
    background-repeat: no-repeat;
    background-size: 1210px 335px;
}

/* ---------6-qism---------- */

.section-5{
    padding-top: 180px;
    padding-bottom: 120px;
}

.section-5_box-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 118px;
}

.section-5_box-top::after {
    content: "";
    width: 492px;
    height: 423px;
    display: inline-block;

    background-image: url('../images/grandma.svg');
    background-repeat: no-repeat;
    background-size: 492px 423px;
}

.section-5_box-top--mini {
    margin-right: 113px;
}

.box-top_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    margin-bottom: 27px;
    width: 338px;
}

.box-top_text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
    width: 379px;
}

.box-bottom_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
    margin-bottom: 26px;
}

.box-bottom_text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #163A24;
    margin-bottom: 18px;
}

.section-5_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-5_item {
    cursor: pointer;
    padding-top: 50px;
    padding-left: 40px;
    background: #FBFAF7;
    box-shadow: 5px 5px 20px #E9E4D5;
    border-radius: 15px;
    width: 353px;
    height: 393px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.section-5_item:nth-child(2) {
    width: 353px;
    height: 430px;
}

.section-5_item:last-child {
    margin-right: 0;
}

.section-5_link {
    text-decoration: none;
}

.section-5_box-bottom--mini-first::before {
    content: "";
    width: 62px;
    height: 75px;
    display: inline-block;

    background-image: url('../images/mini-shield.svg');
    background-repeat: no-repeat;
    background-size: 62px 75px;
    margin-bottom: 20px;
}

.section-5_box-bottom--mini-second::before {
    content: "";
    width: 83px;
    height: 75px;
    display: inline-block;

    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-size: 83px 75px;
    margin-bottom: 20px;
}

.section-5_box-bottom--mini-third::before {
    content: "";
    width: 82px;
    height: 75px;
    display: inline-block;

    background-image: url('../images/lupa.svg');
    background-repeat: no-repeat;
    background-size: 82px 75px;
    margin-bottom: 20px;
}

.section-5_box-bottom--mini-first {
    display: flex;
    flex-direction: column;
}

.section-5_box-bottom--mini-second {
    display: flex;
    flex-direction: column;
}

.section-5_box-bottom--mini-third {
    display: flex;
    flex-direction: column;
}

.menu_title-first {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    color: #163A24;
    width: 160px;
    margin-bottom: 23px;
}

.menu_title-second {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    color: #163A24;
    width: 285px;
    margin-bottom: 23px;
}

.menu_title-third {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    color: #163A24;
    width: 301px;
    margin-bottom: 23px;
}

.menu_span::before {
    transform: translateY(-1px);
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;

    background-image: url('../images/Ellipse.svg');
    background-repeat: no-repeat;
    background-size: 8px 8px;
    margin-right: 11px;
}

.menu_span {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #163A24;
    margin-bottom: 15px;
}

/* ----------7-qism------------ */

.section-6 {
    background: #F2EFE6;
    padding-top: 114px;
    padding-bottom: 124px;
}

.section-6_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 54px;
    text-align: center;

    color: #163A24;
    margin-bottom: 26px;
}

.section-6_text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #163A24;
    margin-bottom: 20px;
}

.section-6_box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

.section-6_box-first {
    display: flex;
    align-items: center;
}

.box-first_mini {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 29px;
}

.section-6_box-first::after {
    content: "";
    width: 75px;
    height: 35px;
    display: inline-block;

    background-image: url('../images/Vector-top.svg');
    background-repeat: no-repeat;
    background-size: 75px 35px;
}

.section-6_box-second {
    display: flex;
    align-items: center;
}

.section-6_box-second::after {
    content: "";
    width: 75px;
    height: 36px;
    display: inline-block;

    background-image: url('../images/Vector-bottom.svg');
    background-repeat: no-repeat;
    background-size: 75px 36px;
}

.box-second_mini {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
}

.section-6_box-third {
    margin-left: 79px;
}

.box-wrapper_text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #163A24;
    width: 260px;
    margin-bottom: 13px;
}

.box-wrappar_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    color: #163A24;
}

.section-6_link {
    display: block;
    width: 244px;
    height: 52px;
    margin: 0 auto;
    text-decoration: none;
    background: #198C36;
    border-radius: 160px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FBFAF7;
    padding: 15px 25px;
}

/* ----------8-qism----------- */

.section-7 {
    padding-top: 120px;
    padding-bottom: 123px;
}

.section-7_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    width: 360px;
    margin-bottom: 25px;
}

.section-7_text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
    margin-bottom: 19px;
}

.section-7_btn {
    background: #198C36;
    border-radius: 160px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FBFAF7;
    padding: 15px 25px;
    border: none;
}

.section-7_box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-7_box-wrapper::after {
    content: "";
    width: 492px;
    height: 510px;
    display: inline-block;

    background-image: url('../images/booook.svg');
    background-repeat: no-repeat;
    background-size: 492px 510px;
}

.section-7_box--mini {
    margin-right: 132px;
}

/* -------------9-qism-------------- */

.section-8 {
    position: relative;
    background: #163A24;
    padding-top: 114px;
    padding-bottom: 124px;
}

.section-8::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 300px;
    height: 400px;
    display: inline-block;

    background-image: url('../images/flower.svg');
    background-repeat: no-repeat;
    background-size: 300px 400px;
}
.section-8::after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 300px;
    height: 400px;
    display: inline-block;

    background-image: url('../images/flower-right.svg');
    background-repeat: no-repeat;
    background-size: 300px 400px;
}
.section-8_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #FBFAF7;
    margin-bottom: 26px;
}

.section-8_text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #FBFAF7;
    margin-bottom: 18px;
}

.section-8_link {
    display: block;
    width: 258px;
    height: 52px;
    margin: 0 auto;
    background: #FAB5A0;
    border-radius: 160px;
    text-decoration: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #163A24;
    padding: 15px 25px;
}

/* ----------10-qism----------- */

.section-9 {
    background: #F2EFE6;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-9_box-wrapper {
    display: flex;
    align-items: center;
}

.box-wrapper--left {
    margin-right: 248px;
}

.box-left_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    margin-bottom: 26px;
}

.box-left_text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
}

.right-div {
    position: relative;
    width: 553px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #F2EFE6;
    box-sizing: border-box;
    border-radius: 255px;
    outline: none;
    padding-left: 15px;
    font-size: 25px;
    font-weight: normal;
}

.div_btn {
    cursor: pointer;
    border: none;
    position: absolute;
    transform: translateX(-80px);
    background: #15762E;
    border-radius: 160px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FBFAF7;
    padding: 15px 25px;
}

.box-right_block {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #163A24;
    width: 524px;
    margin-top: 11px;
}

/* --------foooteerrr qismi------------ */

.footer {
    padding-top: 41px;
    padding-bottom: 24px;
}

.footer_box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer_title {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #163A24;
}

.img_div {
    display: flex;
    align-items: center;
}

.icon_link {
    margin-right: 14px;
}

.icon_link:last-child {
    margin-right: 0;
}

.footer_line {
    width: 1210px;
    height: 1px;
    background: #F2EFE6;
    border: none;
    margin-bottom: 25px;
}

.footer_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #163A24;

}

.footer_menu {
    list-style-type: none;
    display: flex;
}

.footer_item {
    margin-right: 14px;
}

.footer_item:last-child {
    margin-right: 0;
}

.footer_link {
    text-decoration: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #198C36;
}